---
import BaseLayout from "@/layouts/BaseLayout.astro";
import directus from "@/lib/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const pages = await directus.request(readItems("pages"));
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}
const page = Astro.props;
---

<BaseLayout title={page.title}>
  <article class='min-w-full md:py-4 sm:max-w-none md:max-w-none'>
    <div class='prose prose-lg md:prose-xl dark:prose-invert min-w-full'>
      <div set:html={page.content} />
    </div>
  </article>
</BaseLayout>