---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<nav class="p-10 max-x-5xl mx-auto space-x-6 text-center">
			<a href="/">Home</a>
			<span>&bull;</span>
			<a href="/about">About</a>
			<span>&bull;</span>
			<a href="/conduct">Code of Conduct</a>
			<span>&bull;</span>
			<a href="/privacy">Privacy Policy</a>
			<a href="/blog">Blog</a>
		</nav>
		<main class="max-w-5xl mx-auto p-10 prose">
			<slot />
		</main>
	</body>
</html>
